@import '../App/styleVariables.scss';

.panel {
  grid-area: 2 / 1 / span 1 / -1;
  background: $panel_background;
  display: grid;
  grid-template: {
    columns: repeat(5, 1fr);
    rows: 50px;
  }
  padding: 0 5vw;
}

@media (max-width: 479px) {
  .panel {
    grid-template-rows: repeat(2, 50px);
  }
}
