@mixin fontStyle($size, $weight: 400) {
  font: {
    weight: $weight;
    size: $size;
  }
}

.label {
  text-align: center;
  line-height: 30px;
}

.bold {
  @include fontStyle(30px, 600);
}

.normal {
  display: block;

  @include fontStyle(15px);
}

@media (max-width: 479px) {
  .label {
    line-height: 25px;
  }

  .lineBold {
    @include fontStyle(10px, 600);
  }

  .lineNormal {
    @include fontStyle(7px);
  }
}
