.menuIcon {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1.6em;
}
.menu {
  grid-area: 2 / 1 / auto / 1;
  padding: 10px;
  background: #ffffff;
  z-index: 1;
}

.hide {
  display: none;
}

@media (max-width: 479px) {
  .menuIcon {
    grid-row-start: 2;
  }
  .menu {
    grid-row: 3 / span 1;
  }
}
