@keyframes top {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(145deg)
  }
}

.menuIcon {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2em;
  &:active svg:first-child{
    animation: ease .7s scaled forwards;
  }
}
.menu {
  grid-area: 2 / 1 / auto / 1;
  padding: 10px;
  background: #ffffff;
  z-index: 1;
}

.hide {
  display: none;
}

@media (max-width: 479px) {
  .menuIcon {
    grid-row-start: 2;
  }
  .menu {
    grid-row: 3 / span 1;
  }
}
