@font-face {
  font: {
    family: 'Open Sans';
    weight: bold;
    style: normal;
  }
  src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');;
}

@font-face {
  font: {
    family: 'Open Sans';
    weight: normal;
    style: normal;
  }
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');;
}
