@import '../App/styleVariables.scss';

.SearchPanel {
  grid-area: 1 / 3 / span 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 10px;
  font-size: 12px;
  background: $input_color;
  width: 25vw;

  &::placeholder {
    color: #000;
    opacity: 0.5;
    transition: all 300ms ease;
  }

  &:focus::placeholder {
    opacity: 0;
    transition: all 300ms ease;
  }
}

@media (max-width: 479px) {
  .SearchPanel {
    grid-row-start: 2;
    grid-column-start: 1;
    justify-content: flex-end;
    border: none;
    border-top: 1px solid #d2e4ed;
  }

  .input {
    margin: 5px;
    width: 50vw;
  }
}
