
// Main
$background: #d1ceced9;
$style_color: #2aafaf;

// Panel
$input_margin: 0 0 20px;
$input_color: #f2f2f2;
$panel_background: #e7e4e4;

// Auth
$buttonStyle: hsl(199, 33%, 44%);
$figcaption_style: #b3b3b3;

// Select 
$selectBackground: $input_color;

// Card
$index_color: #cccccc;
