@import '../App/styleVariables.scss';

.label {
  grid-area: 1 / 1 / span 1 / -1;
  font-size: 26px;
  padding: 10px;
  position: relative;
  .img {
    max-width: 30px;
    max-height: 23px;
    margin-right: 0.3em;
  }
  .pair {
    display: inline-block;
  }
  .button {
    background: inherit;
    position: absolute;
    padding: 0;
    right: 0.6rem;
    width: 10%;
    & svg {
      transform: scale(1);
      transition: transform 200ms ease;
    }
    &:hover svg {
      transform: scale(1.2);
      transition: transform 200ms ease;
    }
    &:active svg {
      transform: scale(0.67);
      transition: transform 200ms ease;
    }
  }
}

.price {
  grid-area: 2 / 1 / span 1 / span 1;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  .index {
    color: $index_color;
    font-size: 16px;
    sub {
      color: #bbbbbb;
      font-size: 10px;
    }
  }
  .indexDown {
    color: #bd221d;
  }
  .indexUp {
    color: #1dbd52;
  }
}

.counter {
  grid-area: 3 / 1 / -1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px 10px 5px;
}

.input {
  padding: 2px;
  width: 10vw;
  background: $input_color;
}

@media (max-width: 479px) {
  .label {
    font-size: 20px;
    .img {
      max-height: 15px;
    }
  }
  .price {
    font: {
      size: 18px;
      weight: 400;
    }
    .index {
      font-size: 13px;
    }
  }
  .counter {
    grid-row-start: 4;
  }
  .input {
    width: 20vw;
  }
}
