.search-panel {
  border-left: 1px solid #d2e4ed;
  grid-area: 1 / 3 / span 1 / -1;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  .search-input {
    padding: 0.6rem 1.6rem;
    border: 1px solid #d2e4ed;
    border-radius: 0.4rem;
    line-height: 10px;
    outline: none;
    &::placeholder {
      opacity: 0.4;
    }
    &:focus {
      box-shadow: 1px 1px 3px #c59dd8;
    }
  }
}

@media (max-width: 479px) {
  .search-panel {
    grid-row-start: 2;
    grid-column-start: 1;
    border: none;
    border-top: 1px solid #d2e4ed;
  }
}
