%position {
  position: absolute;
  right: 1em;
}

.header {
  grid-area: 1 / 1 / span 1 / -1;
  position: relative;

  .logout,
  .auth {
    @extend %position;
  }

  .auth {
    display: flex;
    &-link {
      margin: 0.3rem;
    }
  }

  @media (max-width: 479px) {
    .logout,
    .auth {
      display: block;
      font-size: 15px;
      right: 0.3em;
    }
  }
}
