@import '../App/styleVariables';

.input {
  background: $input_color;
  margin: $input_margin;
  box-sizing: border-box;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  background: $style_color;
  &:focus,
  &:active,
  &:hover {
    background: $buttonStyle;
  }
}

.message {
  margin: 15px 0 0;
  color: $figcaption_style;
  font-size: 12px;
  .link {
    display: inline-block;
    color: $style_color;
    font-size: inherit;
    text-transform: capitalize;
  }
}
