.input {
  background: #f2f2f2;
  margin: 0 0 15px;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  background: #7b1ea7;
  &:focus,
  &:active,
  &:hover {
    background: #5d1280;
  }
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  .link {
    display: inline-block;
    color: #7b1ea7;
    font-size: inherit;
    text-transform: capitalize;
  }
}
