.list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  margin: 0.8em;
  min-width: 200px;
}

@media (max-width: 479px) {
  .list {
    justify-content: center;
    padding: 0;
  }
}