.menuSection {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
}
.menuIcon {
  transform: scale(1);
  transition: transform 0.2s ease;
  &:active {
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }
}

.menu {
  padding: 10px;
  background: #ffffff;
  z-index: 7;
}

.hide {
  display: none;
}

@media (max-width: 479px) {
  .menuSection {
    grid-row-start: 2;
  }
  .menu {
    padding: 7px;
  }
}
